
@{
    ViewBag.Title = "User profile";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("VIA Fitness", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Measurements", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Workout", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Summary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>

<h2>Welcome @HttpContext.Current.User.Identity.Name</h2>




